page-home {
    .margin-item{
        margin-left: 2px;
        padding-right: 6px;
        margin-bottom: 10px;
    }


    .summary{
        // overflow: initial;
        // white-space: pre-line;
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        vertical-align: middle;
        line-height: 1;
    }
    .title{
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        vertical-align: middle;
    }
    h2{
        color: #115B80;
    }
}
